@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 50px;
  line-height: 70px;
}

h2 {
  font-size: 40px;
  line-height: 60px;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

.backgroudAbout {
  background: linear-gradient(
    180deg,
    #e2f0d8 0%,
    #efffe5 38.33%,
    #efffe5 56.29%,
    #fff 100%
  );
}
